# Open Justice Broker configuration file - Hawaii Person_Query_Service_Warrants_Intermediary.cfg

# This file contains properties that are used by camel contexts in the OJB.
# Mostly it is used to define endpoint URLs

# When two endpoints share a port number, they must be deployed in the same bundle

# OJB loads this file from the OJB_Config bundle installed in ServiceMix, via "classpath:main/Person_Query_Service_Warrants_Intermediary.cfg"

personQuery.warrants.dbAuditLog=true

###########################################
####  Person Query Warrants Endpoints  ####
###########################################

# Note: Person Query Request is the flow that obtains the detail for one selected person record

personQuery.warrants.personQueryIntermediaryFederatedQueryTimeout=10000
personQuery.warrants.personQueryIntermediaryCxflogging=true

# Person Query Request Endpoint - OJB Intermediary (called by query application)
federatedQuery.warrants.personQueryEndpoint=/intermediary/PersonQueryWarrantsService

# Person Query Request Endpoints - Adapters (Mocks or hosted at partner agencies - called by Intermediary)
federatedQuery.warrants.personQueryWarrantsEndpoint=https://ojb-web-portal:18165/OJB/PersonQueryServiceWarrantsService

# Person Query Response Handler Endpoints - OJB Intermediary (callback, called by Adapters)
federatedQuery.warrants.personQueryResultsHandlerWarrantsEndpoint=/intermediary/PersonQueryResultsHandlerServiceWarrantsService

# Present Person Query Results Endpoint - (adapter)
#This is the endpoint at HIC
federatedQuery.warrants.presentPersonQueryResultsEndpoint=https://ojb-web-portal:18311/OJB/WebApp/PersonQueryResultsHandlerServiceWarrantsService

#Keystore used to sign messages
federatedQuery.warrants.keystoreCertificateAlias=demo-intermediary-key
federatedQuery.warrants.keyPassword=demo-intermediary-key
federatedQuery.warrants.keystoreLocation=/usr/local/search/rapback/ojb-certs/intermediary/demo-intermediary-keystore.jks
federatedQuery.warrants.keystorePassword=demo-intermediary-keystore

#Trust configuration for SSL connections
federatedQuery.warrants.truststorePassword=demo-intermediary-truststore
federatedQuery.warrants.truststoreLocation=/usr/local/search/rapback/ojb-certs/intermediary/demo-intermediary-truststore.jks


##########################
####  Audit Logging	  ####
##########################
audit.dataSource.driverClass=com.mysql.jdbc.Driver
audit.dataSource.jdbcUrl=jdbc:mysql://10.176.9.205:3306/dev_audit
audit.dataSource.user=root
audit.dataSource.password=root
audit.dataSource.minPoolSize=5
audit.dataSource.maxPoolSize=20
