# Open Justice Broker configuration file 

# This file contains properties that are used by camel contexts in the OJB.

###############################################################
####  Prosecution Decision Reporting Service Configuration ####
###############################################################

#CXF Logging
prosecutionDecisionReporting.cxflogging=true

# Prosecution Decision Reporting Service Endpoint - Prosecution Decision Reporting Service Intermediary
prosecutionDecisionReporting.caseFilingDecisionReportingServiceEndpoint=/intermediary/ProsecutionDecisionReportingService

#These endpoints are just place holders, they are not used
prosecutionDecisionReporting.prosecutionDecisionFilingAdapterEndpoint=http://localhost/prosecutionDecisionFiling
prosecutionDecisionReporting.courtCaseFilingServiceAdapterEndpoint=http://localhost/courtCaseFiling

#Call hawaii specific component to handle routing logic
prosecutionDecisionReporting.camelEndpointsToCall=direct-vm:processProsecutionDecisionHawaii

prosecutionDecisionReporting.enrichContentURI=

#Specific whether to call the core capability, the prosecution decision filing service
callProsecutionDecisionFiling=false

#Specific whether to call the core capability, the charge filing filing service
callCourtCaseFiling=false

#################################################
####     Certificate Configuration           ####
#################################################
prosecutionDecisionReporting.keystoreCertificateAlias=hijis-intermediary-key
prosecutionDecisionReporting.keyPassword=hijis-intermediary-key
prosecutionDecisionReporting.keystoreLocation=C:/Search/hawaii/certs/intermediary/hijis-intermediary-keystore.jks
prosecutionDecisionReporting.keystorePassword=hijis-intermediary-keystore

#Truststore information
prosecutionDecisionReporting.truststoreLocation=C:/Search/hawaii/certs/intermediary/hijis-intermediary-truststore.jks
prosecutionDecisionReporting.truststorePassword=hijis-intermediary-truststore